@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Ultrabold'), local('RF-Dewi-Extended-Ultrabold'),
        url('RFDewiExtended-Ultrabold.woff2') format('woff2'),
        url('RFDewiExtended-Ultrabold.woff') format('woff'),
        url('RFDewiExtended-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }